/* grid_1 */
.grid_1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
}
/* forms */
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border-radius: 2em;
}

ul {
  list-style: none;
  padding: 20;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 60px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}

/* Footer */

footer {
  background-color: #d2e5c6;
  color: #000;
  padding: 20px;
}

.footer-content {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.logo_2 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.footer-column p {
  margin: 1rem;
}

.icon {
  width: 20px; /* Adjust the size as needed */
  height: 20px;
  margin: 0 10px; /* Add some spacing between icons */
}

@media screen and (min-width: 800px) {
  .footer-content {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .footer-column {
    flex: 1;
    padding: 20px; /* Add padding */
    border: 0.5px solid #2f306d; /* Add border */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
  }

  .footer-column p {
    margin: 0;
  }

  .logo_2 {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Add some spacing between logo and icons */
  }

  .icon {
    width: 30px; /* Adjust the size as needed */
    height: 30px;
    margin: 0 5px; /* Add some spacing between icons */
  }
}

/* img */
.logo img {
  width: 100%;
  margin-left: 2rem;
}

.logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  top: 2rem;
  left: 0rem;
}

@media screen and (min-width: 768px) {
  .logo img {
    width: 181%;
  }

  .logo {
    top: -1rem;
  }
}
