/* grid_1 */
.grid_1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
}
/*grid 1 p'er*/
.grid_1tekst {
  justify-self: center;
  margin-top: 6%;
  margin-bottom: 3%;
}

.kontaktosform {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
  margin-bottom: 5%;
}

/* form grid */
.grid_1form {
  margin-top: 22%;
}
.formnavne {
  display: grid;
  grid-template-rows: auto;
  grid-auto-columns: 1fr 1fr;
}
.fornavn {
  margin-right: 260px;
  width: 90%;
}
.efternavn {
  margin-left: 46px;
  width: 90%;
}
.kontaktostekst {
  margin-top: 150px;
  margin-bottom: 45px;
}

/* form */
.form-group {
  margin-top: 20px;
  margin-bottom: 27px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 55px;
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: #999;
}
.bigger-label {
  padding: 40px;
  border-radius: 25px;
  width: 96%;
}

input[type="submit"] {
  background-color: #db405d;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}
.navnegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* img */
.logo img {
  width: 100%;
  margin-left: 2rem;
}

.logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  top: 2rem;
  left: 0rem;
}

@media screen and (min-width: 768px) {
  .logo img {
    width: 181%;
  }

  .logo {
    top: -1rem;
  }
}

@media (max-width: 800px) {
  .grid_1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
    gap: 20px;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 1.5;
  }
}
@media (max-width: 800px) {
  /* form */
  .form-group {
    margin-top: 26px;
    margin-bottom: 24px;
    margin-left: -33px;
    width: 101%;
    justify-content: center;
  }

  .bigger-label {
    padding: 40px;
    border-radius: 25px;
    width: 90%;
  }

  .navnegrid {
    display: grid;
    grid-template-columns: 1fr;
  }
  iframe {
    width: auto;
    height: 160%;
  }
}
@media (max-width: 800px) {
  .grid_1form {
    margin-top: 22%;
  }
  .kontaktostekst {
    margin-top: 150px;
    margin-bottom: 45px;
  }
}
