
/* Images */

.bror {
  width: 29%;
  height: auto;
  left: 10%;
  position: relative;
  margin-top: 72px;
}

/* Headers */

h1 {
    text-align: center;
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: 500;
    font-family: "now", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #2f306d;
    text-transform: uppercase;
    margin-bottom: 34;
}


.heading_omos{
    color: #DB405D;
    text-align: left;
    margin-bottom: 4%;
    font-family: "now", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Tekst */

.prag {
    margin-left: 43%;
    position: relative;
    margin-top: -36%;
    margin-bottom: 12%;
}

.text {
    padding-left: 11%;
    padding-top: 3%;
    text-align: center;
    padding: 3rem;
}

.text1 {
    margin-bottom: 4%;
    
    
}

.text2 {
    margin-bottom: 4%;
    
    
}

.text3 {
    margin-bottom: 4%;
    
}


/* Images */

.vision img,
.mission img {
    width: 24%;
    height: auto;
    padding-left: 40%;
}

/* Grid */

.grid-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* line */
.line-container {
  display: flex;
  justify-content: center;
}

.horizontal-line {
  width: 100%;
  /* Adjust the width of the line as needed */
  border: none;
  border-top: 1px solid#2f306d;
  /* Adjust the line color and thickness as needed */
  margin: 120px 10px;
  /* Adjust the margin as needed */
}

@media screen and (min-width: 800px) {
  .line-container {
    display: flex;
    justify-content: center;
  }

  .horizontal-line {
    width: 80%;
    /* Adjust the width of the line as needed */
    border: none;
    border-top: 1px solid#2f306d;
    /* Adjust the line color and thickness as needed */
    margin: 120px 100px;
    /* Adjust the margin as needed */
  }
}

@media screen and (min-width: 800px) {
    .line-container {
        display: flex;
        justify-content: center;
    }

    .horizontal-line {
        width: 80%;
        /* Adjust the width of the line as needed */
        border: none;
        border-top: 1px solid#2f306d;
        /* Adjust the line color and thickness as needed */
        margin: 35px 100px;
        /* Adjust the margin as needed */
    }
}

@media screen and (max-width: 800px) {
    main {
        margin: 5%;
    }

    h1 {
        font-size: xx-large;
        margin-top: 100px;
    }

    .bror {
        width: 81%;
    }

    .prag {
        margin-top: 9%;
        margin-left: 5%;
    }

    .line-container {
        margin-top: -20%;
    }

    .grid-1_1 {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: -10%;

    }

    .vision {
        margin-top: -10;
    }

    .vision img,
    .mission img {
        width: 35%;
        padding-left: 31%;
    }

}
